@import '../../theme/palette';

.composer {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 500px;
  height: 130px;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid darken($paletteColor2, 15%);
  border-radius: 3px;
  background-color: $paletteColor2;

  ::-webkit-scrollbar {
    display: none;
  }

  img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }

  input[type='submit'] {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 22px;
    transition: background-color .2s ease-in;
    padding-top: 3px;
    border: 0;
    border-radius: 2px;
    outline: 0;
    background-color: $paletteColor6;
    color: $paletteColor2;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;

    &:hover {
      background-color: $paletteColor7;
    }
  }

  textarea {
    width: 410px;
    height: 100px;
    transition: font-size .5s ease, color 1s ease;
    border: 0;
    outline: 0;
    font-size: 14px;
    resize: none;

    &::placeholder {
      transition: color 4s ease-out;
      color: $paletteColor5;
    }

    &:focus::placeholder {
      color: lighten($paletteColor5, 20%);
    }

    &:focus {
      font-size: 24px;
    }
  }
  .error {
    color: red;
    position: fixed;
    left: 20px;
    width: auto;
  }
}
