@import '../../theme/palette';

.post {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 500px;
  //height: 130px;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid darken($paletteColor2, 15%);
  border-radius: 3px;
  background-color: $paletteColor2;

  ::-webkit-scrollbar {
    display: none;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .header {

    h2 {
      margin-top: 0;
      margin-bottom: 5px;
      color: $paletteColor7;
      font-weight: 700;
      font-size: 24px;
    }

    time {
      color: $paletteColor4;
      font-size: 16px;
    }
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px 15px;
    font-size: 18px;
  }
  span {
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    width: 10px;
    height: 10px;
    background-image: url('../../theme/assets/cross.png');
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      background-position: -13px 0;
    }
  }
}